<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
</head>
<body>
<header>
{% block navigation %}
    <nav>
    <a href="{% url 'flights:home' %}">Home page</a> |
    {% if user.is_authenticated %}
        Welcome {{ user.username }}! <a href="{% url 'flights:logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'flights:login' %}">Login</a>
    {% endif %}
    | <a href="../../static/crews.html">Crews</a>
    </nav>
{% endblock %}
</header>
<main>
{% block content %}
{% endblock %}
</main>
</body>
</html>