{% extends 'flights/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <h2>Filter flights</h2>
    {% if form_result %}
        <p>{{ form_result }}</p>
    {% endif %}
    <form method="post">
    {% csrf_token %}
    Show flights from: <input  type="date" name="date_from" value="{{ date_format_hint }}">
    Up to: <input type="date" name="date_to" value="{{ date_format_hint }}">
    <button type="submit">Filter</button>
    </form>
    <h2>Upcoming flights</h2>
{% if flights_list %}
    <table>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Airplane</th>
            <th>Details</th>
        </tr>
        {% for flight in flights_list %}
        <tr>
            <td>{{ flight.city_from.name }}</td>
            <td>{{ flight.city_to.name }}</td>
            <td>{{ flight.date_dep }}</td>
            <td>{{ flight.date_arr }}</td>
            <td>{{ flight.airplane.registration }}</td>
            <td><a href="{% url 'flights:detail' flight.id %}">Click for details</a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <b>No flights available</b>
{% endif %}
{% endblock %}